<div class="container">
  <div class="row">
    <div><h4>Marks obtained are: <%= @marks_obtained %> out of <%= @assessment.marks%></h4></div>
    <div><h4>Marks in Percentage: <%= @score %>%</h4></div>
  </div>
</div>